body {
    font-family: sans-serif;
}
header{
    background-color:rgb(65, 54, 59) ;
    padding: 20px;
}
header a{
    text-decoration: none;
    color:white;
}
h1{
    text-align: center;
    color:rgb(209, 174, 109);
}

img{
    width: 200px;
    height: 200px;
}
